<section class="screen closet-screen">
    <div class="add-new-clothes-container">
        <img id="add-new-clothes" src="assets/add-icon.png" alt="Add Icon">
        <span>Add new clothes</span>
    </div>
    <h2 class="closet-title">My Closet</h2>
    <div class="grid-container">
        <div class="grid">
            <img src="assets/temporary/dress_no_bg.png" alt="Item 1">
            <img src="assets/temporary/my_shirt_no_bg.png" alt="Item 2">
            <img src="assets/temporary/simple_shirt_no_bg.png" alt="Item 3">
            <img src="assets/temporary/pants_no_bg.png" alt="Item 4">
            <img src="assets/temporary/shoes_no_bg.png" alt="Item 5">
            <img src="assets/temporary/text_shirt3_no_bg.png" alt="Item 6">
            <img src="assets/temporary/pants2_no_bg.png" alt="Item 7">
        </div>
    </div>
</section>

<section class="add-clothes-screen" id="add-clothes-screen">

    <div class="camera-window" id="camera-window">
        <video id="video" autoplay playsinline></video>
    </div>
    <button class="close-button" id="close-add-clothes">&times;</button>
    <button class="add-clothing-button" id="add-clothing">Add clothing</button>
    <div class="instructions">
        <ol>
            <li>Hang your article up or lay it on a flat surface.</li>
            <li>Make sure there are no other visible objects in the image.</li>
            <li>Have good lighting conditions.</li>
            <li>Use natural or white light for the best possible results in color and article detection.</li>
        </ol>
    </div>
</section>