* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html,
body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-left {
    position: absolute;
    top: 25px;
    left: 20px;
}

.header-center {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header-center img {
    width: 219px;
    height: 70px;
}

.header-center h1 {
    font-size: 24px;
    margin-top: 5px;
}

main {
    flex: 1;
    overflow-y: auto;
    position: relative;
    padding-bottom: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 5px 0;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
}

nav a {
    background: none;
    border: none;
    flex: 1;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

nav a img {
    width: 24px;
    height: 24px;
}

nav a span {
    font-size: 12px;
    margin-top: 5px;
    color: #000;
}

.screen {
    padding: 20px;
}

.closet-screen {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.add-new-clothes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.add-new-clothes-container img {
    width: 50px;
    height: 50px;
}

.add-new-clothes-container span {
    margin-top: 5px;
    font-size: 14px;
}

.closet-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.more-info-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.more-info-container img {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.2rem;
}

#more-info-span {
    font-size: 1rem;
}

.grid-container {
    flex: 1;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0 20px;
}

.grid img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1.5px solid #ccc;
}

.add-clothes-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
    display: none;
    flex-direction: column;
}

.add-clothes-screen.active {
    display: flex;
}

.add-clothes-screen .close-button {
    color: #000;
    position: absolute;
    top: 10px;
    left: 13px;
    background: none;
    border: none;
    font-size: 24px;
}

.camera-window {
    width: 100%;
    height: 60%;
    padding-bottom: 56.25%;
    background-color: #ccc;
    position: relative;
}

.camera-window video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.add-clothing-button {
    width: 40%;
    padding: 10px;
    margin: 15px auto;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.instructions {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
}

.instructions ol {
    padding-left: 20px;
}

.instructions li {
    margin-bottom: 10px;
}

.generate-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.generate-screen select,
.generate-screen input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

.generate-screen button {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.generate-screen #recent-fits {
    background-color: #6c757d;
}

.profile-screen {
    text-align: center;
    padding: 20px;
}

.main-button-design {
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    padding: 10px;
    text-align: center;
    transition: color .13s ease-in-out, background .13s ease-in-out, opacity .13s ease-in-out, box-shadow .13s ease-in-out;
}

.main-button-design:active {
    background-color: #006AE8;
}

.main-button-design:hover {
    background-color: #1C84FF;
}

.auth-container {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

.auth-container h2 {
    text-align: center;
    font-size: 28px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.auth-container .form-group {
    margin-bottom: 10px;
    position: relative;
}

.auth-container .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    display: inline-;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    float: left;
}

.check-label {
    background-color: red;
    width: 300px;
}


.auth-container .form-group.has-error input {
    border-color: #e74c3c;
}

.auth-container .form-group .help-block {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 5px;
    line-height: 1.4;
    position: static;
    text-align: center;
}

.auth-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.auth-container p {
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
}

.auth-container p a {
    color: #007BFF;
    text-decoration: none;
}

.auth-container p a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {

    header,
    .header-center {
        padding: 5px;
    }

    .profile-screen {
        margin: 5px;
        padding: 15px;
    }
}

.back-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.back-button img {
    width: 32px;
    height: 32px;
}

.error-message,
.success-message {
    max-width: 600px;
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.error-message {
    color: #e74c3c;
}

.success-message {
    color: #4F8A10;
}

.header-right {
    position: absolute;
    right: 20px;
}

.header-right img {
    width: 34px;
    height: 34px;
    cursor: pointer;
}

#profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    position: relative;
}

.profile-screen {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
}

#upload-error.error-message {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#upload-status.success-message {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
}

.edit-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.edit-icon img {
    width: 20px;
    height: 20px;
}

.apply-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.apply-button:hover {
    background-color: #218838;
}

.profile-info {
    text-align: center;
}

#username {
    font-weight: bold;
    margin-top: 10px;
}

.settings-page {
    padding: 20px;
}

.settings-section {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.settings-section h2 {
    font-size: 18px;
    font-weight: 600;
    color: #6e6e73;
    margin-bottom: 10px;
}

.settings-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.settings-item:last-child {
    border-bottom: none;
}

.settings-label {
    font-size: 16px;
    color: #000;
}

.settings-value {
    font-size: 16px;
    color: #6e6e73;
}

.settings-item.clickable {
    cursor: pointer;
}

.settings-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.settings-button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: -3px;
}

.delete-button {
    background-color: #ff3b30;
}

.delete-button:hover {
    background-color: #d32f2f;
}

form {
    margin: 0;
}

@media (max-width: 600px) {
    .settings-page {
        padding: 10px;
    }

    .settings-section {
        padding: 15px;
    }

    .settings-item {
        padding: 8px 0;
    }

    .settings-button {
        padding: 8px;
    }
}

#delete-account-button {
    width: 30%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
